// Styling for the masthead
header.masthead {
	padding-top: 10rem;
	padding-bottom: calc(10rem - #{$navbar-height});
	// replace the masthead.jpg image in the /img directory to change the image
	// if the image name change, make sure to update the url path below!
	background: linear-gradient(to bottom, #{fade-out($brown, .2)} 0%,#{fade-out($brown, .2)} 100%), url('../images/bg-masthead.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	h1 {
		font-size: 2.25rem;
	}
	@include media-breakpoint-up(lg) {
		height: 100vh;
		min-height: 40rem;
		padding-top: $navbar-height;
		padding-bottom: 0;
		p {
			font-size: 1.15rem;
		}
		h1 {
			font-size: 3rem;
		}
	}
	@include media-breakpoint-up(xl) {
		h1 {
			font-size: 3.5rem;
		}
	}
}
.male-avatar {
	height: 8em;
}
.mb-lg-0 {
	padding-bottom: 50px;
}
.fab:hover {
transform: translateY(-3px);
transition: all 0.1s ease-in;
}
#events {
	margin-left: 20%;
	margin-right: 20%;
}
@media screen and (max-width: 500px) {
	#events {
		margin-left: 3%;
		margin-right: 3%;
	}
  }
.card card-cascade  {
	padding-bottom: 20px;
}
.card-body {
	background-color: $primary;
	color: white;
}
.social-links {
	padding-top: 40px;
}
.social-links i{
	font-size: 35px;
	color: rgb(255, 255, 255);
}
.social-links i:hover{
	transform: translateY(-5px);
transition: all 0.2s ease-in;
color: $primary;
}
.bg-dark {
	color: rgb(218, 213, 213);
}
.bg-dark a:hover {
	text-decoration:none ;
	font-weight: bolder;
}
.bg-dark hr {
	background: rgb(177, 174, 174);
}